.todo{
    display: flex;
    padding: 10px 15px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.todo :nth-child(even){
    background-color: #eee;
}

.todo :last-of-type{
    border-bottom: 0;
}

.todo .id{
    flex: 1 1 50px;
}

.todo .content{
    flex: 1 1 100%;
}

.todo.done .content{
    text-decoration: line-through;
}

.todo-input{
    display: block;
    width: 100%;
    padding: 10px 15px;
    appearance: none;
    border: none;
    background-color: #000;
    color: #f3f3f3;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    outline: none;
}

.todo-submit{
    display: block;
    width: 100%;
    max-width: 200px;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    background-color: #198754;
    border-radius: 5px;
    margin: 15px auto;
    padding: 10px 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.delete{
    background-color: #dc3545;
    color: white;
    border: solid 2px #dc3545;
    border-radius: 3px;
}